*,
*::after,
*::before {
  box-sizing: inherit;
}
body,
html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Inconsolata", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
